:root {
    --fon: #0a121f;
    --signin: #3a68b8;
    --cards: #101725;
}

body {
    overflow-x: hidden;
}

header {
    background-color: var(--fon);
}

.sign-in {
    background-color: var(--signin);
}

.introduction {
    background-color: var(--fon);
}

.introduction .intro-left-side h6 {
    color: var(--signin);
    text-transform: uppercase;
}

.introduction .intro-right-side img {
    width: 300px;
}

.introduction .intro-left-side .intro-buttons button {
    background-color: var(--signin);
}

.partners {
    background-color: var(--fon);
}

.about {
    background-color: var(--fon);
}

.about button {
    background-color: var(--signin);
}

.about .about-left img {
    width: 300px;
}
.swipercards {
    background-color: var(--fon);
}
.cardsswipper .swiper-slide img {
    width: 98px;
}
.cardsswipper .swiper-slide {
    color: #fff;
    opacity: 70%;
}
.cardsswipper h1 {
    font-size: 30px;
}
.cardslide {
    background-color: var(--fon);
    opacity: 50%;
    border: 3px solid var(--signin);
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }






.clients {
    background-color: var(--fon);
}

.clients .clients-right img {
    
    width: 300px;
}


.footer {
    background-color: var(--fon);
}

.footer-cards .card {
    background-color: var(--fon);
}

@media(min-width:768px) {
    .introduction .intro-right-side img {
        width: 400px;
    }

    .about .about-left img {
        width: 380px;
    }

    .clients .clients-right img {
        width: 400px;
    }
}

@media(min-width:992px) {
    .introduction .intro-right-side img {
        width: 632px;
    }

    .about .about-left img {
        width: 550px;
    }

    .clients .clients-right img {
        width: 500px;
    }
}

@media(max-width:431px) {
    .introduction .intro-left-side h1 {
        font-size: 25px;
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 0;
    height: 100vh;
    z-index: 9999;
    overflow-x: hidden;
    transition: 0.9s ease;
}

.mobile-menu.aktiv {
    width: 180px;
}

.fa-xmark {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 40px;
    font-size: 30px;
}



.mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.mobile-links a {
    color: #fff;
    text-decoration: none;
}

.watch-video-modal {
    position: fixed;
    background-color: #fff !important;
    width: 100%;
    height: 130vh;
    top: -20px;
    z-index: 999999; 
    overflow-x: hidden;
    transform: scale(0);
    transition: all 1.1s linear;
}

.watch-video-modal.aktiv {
    transform: scale(1);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

.fa-circle-xmark {
    color: var(--signin);
    font-size: 40px;
    position: absolute;
    top: 60px;
    right: 40px;
    cursor: pointer;
    z-index: 99999;
}

.bloglardivi {
    background-color: var(--fon);
    color: #fff;
}
.blog {
    border-bottom: 1px solid #aaa;
    padding: 30px 0;
}
.blog a {
text-decoration: none;
color: #ccc;
}
.blog h4 {
    margin: 10px 0;
}